# Here is an example of template
# You can enter whatever you want here, just put Jinja2 syntaxe where you want to replace things.
# Example for a rust file:
#

pub fn main() {
    println!("Hello {{ user_name }}")
}

# This file can be use in role to be deployed wherever you want and the Jinja2 can also be replaced at the same time.
# More documentation here: https://docs.ansible.com/ansible/devel//collections/ansible/builtin/template_module.html#template-module
